.container-card {
    display: flex;
    flex-direction: column;
    /* place-items: center; */
    margin-top: 20px;
    padding: 30px;
    border-radius: 18px;
    background: #234C6A;
    box-shadow:  9px 9px 18px #aa9c93,
             -9px -9px 18px #fae6d9;
}

.card-group-skills {
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    width: 100%;
}

.card-skills {
    margin: 3px;
}

li {
    display: flex;
    align-items: flex-start;
}